<%= form_with(model: blog, local: true) do |form| %>
<% if blog.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(blog.errors.count, "error") %> prohibited this project from being saved:</h2>

		<ul>
		<% blog.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<section class="ls section_padding_110">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-offset-1 col-md-6 to_animate " data-animation="scaleAppear">

				<form class="contact-form row columns_margin_0 " method="post" action="/">



					<div class="col-sm-12">
						<div class="contact-form-name bottommargin_20">
							<label for="name">Project Title
								<span class="required">*</span>
							</label>
							<%= form.text_field :title, class: "form-control", size:"30", placeholder:"Keep Title Short Please" %>
						</div>
					</div>

          <div class="col-sm-12">
						<div class="contact-form-message bottommargin_20">
							<label for="message">Project Writeup</label>
							<%= form.text_area :shortdesc, class: "form-control", rows:"10", col:"45" %>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="contact-form-message bottommargin_20">
							<label for="message">Project Writeup</label>
							<%= form.text_area :desc, class: "form-control", rows:"10", col:"45" %>
						</div>
					</div>
          <div class="col-sm-12">
            <div class="contact-form-message bottommargin_20">
							<label for="message">Profile Upload</label>
							<%= form.file_field :blogprofile, class: "form-control", rows:"10", col:"45" %>
						</div>

          </div>
					<div class="col-sm-12">

						<div class="contact-form-submit topmargin_10">
							<button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button">Submit Project</button>
						</div>
					</div>

				</form>
			</div>

		</div>
		</div>
</section>
<% end %>
