
    <!-- template sections -->

    <section class="page_toplogo table_section table_section_md ls">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text-center text-md-left">
            <a href="#" class="logo">
              <img src="/logo.png" alt="">
            </a>
            <!-- header toggler -->
            <span class="toggle_menu">
              <span></span>
            </span>

          </div>

          <div class="col-sm-4 text-center text-md-right">
            <div class="display_table">
              <div class="display_table_cell">
                <a href="#" class="social-icon soc-twitter"></a>
                <a href="#" class="social-icon soc-facebook"></a>
                <a href="#" class="social-icon soc-google"></a>
              </div>

              <div class="display_table_cell">
                <span class="logo-meta">
                  <strong class="grey">+234(902)418-2902</strong>
                  <br> inquiry@amodelsafrica.com
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <header class="page_header header_gradient bordered_items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- main nav start -->
            <nav class="mainmenu_wrapper">
              <ul class="mainmenu nav sf-menu">
                <li class="active">
                  <%= link_to "Home" %>
                </li>
                <li>
                  <%= link_to "About Us" %>
                  <ul>
                    <li><%= link_to "FAQ"%></li>
                    <li><%= link_to "Privacy Policy"%></li>
                  </ul>
                </li>
                <li>
                  <%= link_to "Models" %>
                </li>
                <li>
                  <%= link_to "Our Projects" %>
                </li>

                <li>
                  <%= link_to "FAQ" %>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
                <li>
                  <%= link_to "Blog" %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
