<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%=  image_tag @amodel.avatar_url %>
</p>
<p>
  <strong>Name:</strong>
  <%= @amodel.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @amodel.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @amodel.age %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @amodel.desc %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @amodel.nationality %>
</p>

<p>
  <strong>City:</strong>
  <%= @amodel.city %>
</p>

<p>
  <strong>Category:</strong>
  <%= @amodel.category %>
</p>

<p>
  <strong>Height:</strong>
  <%= @amodel.height %>
</p>

<p>
  <strong>Burst:</strong>
  <%= @amodel.burst %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @amodel.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @amodel.hip %>
</p>

<p>
  <strong>Eye:</strong>
  <%= @amodel.eye %>
</p>

<p>
  <strong>Shoe:</strong>
  <%= @amodel.shoe %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @amodel.fb %>
</p>

<p>
  <strong>Tw:</strong>
  <%= @amodel.tw %>
</p>

<p>
  <strong>Ig:</strong>
  <%= @amodel.ig %>
</p>

<p>
  <strong>Email:</strong>
  <%= @amodel.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @amodel.tel %>
</p>

<%= link_to 'Edit', edit_amodel_path(@amodel) %> |
<%= link_to 'Back', amodels_path %>
